# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log

# Exclude
!vendor/bin

*.yaml
MessageHistory.yaml
MessageHistory_*.yaml
imgui.ini
ConnectionDetails.yaml