# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log

# Exclude
!vendor/bin

*.yaml
imgui.ini
MessageHistory.yaml
MessageHistory_*.yaml
ConnectionDetails.yaml
/App-Client/imgui.ini
/App-Server/imgui.ini
/App-Server/MessageHistory.yaml

